<h2 class="form_heading">Edit Album</h2>

<img class="album_artwork" src="<%= @album.artwork() %>" alt="Album artwork for <%= @album.artist().name() %>: <%= @album.title() %>">

<form class="form" id="edit_album" action="/big_als/albums/<%= @album.id() %>" method="POST">

  <label for="artistSelect">Artist*</label>
  <select name="artist_id" required="required" id="artistSelect">
    <option disabled value> -- Select an Artist -- </option>

    <% selected = @album.artist().name() %>

    <% @artists.each do |artist| %>

    <% if artist.name() != selected %>
    <option value="<%= artist.id() %>"><%= artist.name() %></option>
    <% else %>
    <option selected value="<%= @album.artist().id() %>"><%= @album.artist().name() %></option>
    <% end %>

    <% end %>

    <option disabled value> -- Add new artist if not available -- </option>
  </select>

  <label for="albumTitle">Album*</label>
  <input type="text" required="required" name="title" id="albumTitle" value="<%= @album.title() %>" placeholder="e.g. Ten">

  <label for="inStock">Quantity*</label>
  <input type="number" name="in_stock" id="inStock" value="<%= @album.in_stock() %>" placeholder="e.g. 12">


  <label for="genre">Genre</label>
  <select name="genre_id" id="genre">
    <option disabled selected value> -- Select a Genre -- </option>

    <% selected = @album.genre().name() %>

    <% @genres.each do |genre| %>

    <% if genre.name() != selected %>
    <option value="<%= genre.id() %>"><%= genre.name() %></option>
    <% else %>
    <option selected value="<%= genre.id() %>"><%= genre.name() %></option>
    <% end %>

    <% end %>
  </select>

  <label for="albumArtwork">Album Artwork</label>
  <input type="text" min=0 max=1000 name="artwork" id="albumArtwork"
  value="<%= @album.artwork() %>" placeholder="e.g. /images/albums/binaural.jpg">

  <label for="buyPrice">Buy Price</label>
  <input type="number" min=0.00 step=0.05 name="buy_price" id="buyPrice" placeholder="e.g. 5.99" value="<%= @album.buy_price() %>">

  <label for="sellPrice">Initial Sell Price</label>
  <input type="number" min=0.00 step=0.05 name="original_sell_price" id="sellPrice" placeholder="e.g. 7.99" value="<%= @album.original_sell_price() %>">

  <label for="discount">Discount</label>
  <input type="number" min=0.00 max=1.00 step=0.05 name="discount" id="discount" placeholder="e.g. 0.5" value="<%= @album.discount() %>">

  <label for="finalSellPrice">Final Sell Price</label>
  <input type="number" min=0.00 name="final_sell_price" id="finalSellPrice" value="<%= @album.final_sell_price() %>" readonly>

  <input class="btn btn--submit" type="submit" value="Amend details">
</form>

<form class="form" id="delete_album" action="/big_als/albums/<%= @album.id() %>/delete" method="POST">
  <input class="btn btn--delete" type="submit" value="Delete Album">
</form>
