<form class="form" id="edit_artist" action="/big_als/artists/<%= @artist.id() %>" method="POST">
  <h2 class="form_heading">Edit Artist</h2>
  <img src="<%= @artist.image() %>" alt="Image of <%= @artist.name() %>">

  <label for="artistName">Artist*</label>
  <input type="text" name="name" required="required" id="artistName" value="<%= @artist.name() %>" placeholder="e.g. Pearl Jam">

  <label for="artistBio">Bio</label>
  <textarea class="artist_bio" name="bio" rows="5" id="artistBio" placeholder="e.g. Pearl Jam is an American rock band formed in Seattle, Washington, in 1990. Since its inception, the band\'s line-up has consisted of Eddie Vedder (lead vocals), Mike McCready (lead guitar), Stone Gossard (rhythm guitar) and Jeff Ament (bass)."><%= @artist.bio() %></textarea>

  <label for="artistImage">Image Source</label>
  <input type="text" name="image" id="artistImage" value="<%= @artist.image() %>" placeholder="e.g. /images/pearl_jam.jpg">

  <input class="btn btn--submit" type="submit" value="Amend Details">

</form>

<form class="form" id="delete_artist" action="/big_als/artists/<%= @artist.id() %>/delete" method="POST">
  <input class="btn btn--delete" type="submit" value="Delete Artist">
</form>
